body {
margin: 0;
margin-top: 60px;
line-height: 1.7;
font: 9pt arial;
color: #CDCCE1;
background: #9A97C6 url('layout/flowers/bg.jpg') repeat-x;
}

html {
	height: 100%;
	}

table {
line-height: 1.7;
}

#nav_1 {
background: url('layout/flowers/nav_1_off.jpg') no-repeat;
height: 53px;
text-align: right;
font-size: 12pt;
}

	img.nav_1 {
	border: 0px;
	width: 606px;
	height: 53px;
	}

	#nav_1 a:hover {
	background: url('layout/flowers/nav_1_on.jpg') no-repeat;
	display: block;
	}

#nav_2 {
background: url('layout/flowers/nav_2_off.jpg') no-repeat;
height: 37px;
text-align: right;
font-size: 12pt;
}

	img.nav_2 {
	border: 0px;
	width: 606px;
	height: 37px;
	}

	#nav_2 a:hover {
	background: url('layout/flowers/nav_2_on.jpg') no-repeat;
	display: block;
	}

#nav_3 {
background: url('layout/flowers/nav_3_off.jpg') no-repeat;
height: 40px;
text-align: right;
font-size: 12pt;
}

	img.nav_3 {
	border: 0px;
	width: 606px;
	height: 40px;
	}

	#nav_3 a:hover {
	background: url('layout/flowers/nav_3_on.jpg') no-repeat;
	display: block;
	}

#nav_4 {
background: url('layout/flowers/nav_4_off.jpg') no-repeat;
height: 45px;
text-align: right;
font-size: 12pt;
}

	img.nav_4 {
	border: 0px;
	width: 606px;
	height: 45px;
	}

	#nav_4 a:hover {
	background: url('layout/flowers/nav_4_on.jpg') no-repeat;
	display: block;
	}

#right {
background: url('layout/flowers/right.jpg') no-repeat;
}

#content {
width: 454px;
}

div.header {
color: #FFD5EA;
font: 18pt georgia;
}

#bottom {
	background: url('layout/flowers/bottom.jpg') repeat-x;
	width: 100%;
	height: 64px;
	margin-top: 50px;
	text-align: center;
}

a {
text-decoration: none;
color: #fff;
}

a:hover {
color: #FBD5E7;
}

ul {
list-style-type: square;
background: url('layout/flowers/quote.png') repeat-x bottom;
padding-bottom: 10px;
}

	ul strong {
	color: #fff;
	}

	* html ul {
	/* IE Workaround */
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="layout/flowers/quote.png", sizingMethod="crop");}

td.shannon_cat {
	color: #AFACC6;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
	width: 20%;
	vertical-align: top;
	}

td.shannon_answer {
	width: 80%;
	vertical-align: top;
	}

td.shannon_img {
width: 25%;
text-align: center;
font-size: 8pt;
}

	td.shannon_img img {
		border: 1px solid #fff;
		}

td.websites{
width: 33.3%;
text-align: center;
font-size: 10pt;
}
